@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Condensed&display=swap');

html,
body,
#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  background-color: #2c3333;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  color: #d7d6d2;
}

.root {
  height: 100%;
}

.characterImg {
  width: 220px;
  height: 220px;
  border-radius: 8px;
}
